.error-maker {
    position: absolute
}

.problem-editor {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    z-index: 0;
    padding-top: 15px;
    background-color: #232323;
}

.problem-editor__window {
    padding-top: 5px;
}

.problem-editor__actions {
    background-color:#232323;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

.Submission-status {
    align-self: center;
    color: white;
}

.Accepted {
    color: #06D6A0;
}

.Wrong {
    color: #EF476F;
}

.Custom-test-section {
    display: flex;
    flex-direction: column;
    height: 60%;
}

.Custom-test-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    background-color: green;
}

.Custom-test-titlebar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: white;
}

.hide {
    display: none;
}